<h3>Search for Friends</h3>
<div id="friend-lookup">
  <form id="friend-lookup-form" ng-submit="lookup()">
    <div class="form-group row no-padding text-center col-md-12">
      <div class="col-md-10">
        <input type="text" id="friends-search-param" class="form-control search-box input-lg" autofocus="true" ng-model="friend_search_param" placeholder="Enter name or email">
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-lg btn-success">
          <i class="fa fa-search"></i> Search
        </button>
      </div>
    </div>
  </form>
</div>

<div class="results-block alert alert-danger ng-hide" ng-show="friends.error" id="friend-lookup-errors">
  {{ friends.error }}
</div>

<div class="results-block alert alert-success ng-hide" ng-show="friends.message" id="friend-lookup-status">
  {{ friends.message }}
</div>

<div id="friend-lookup-results" class="well results-block col-md-10 ng-hide" ng-show="friends.list.length > 0">
  <table class="search-results-table col-md-12">
    <tbody>
      <tr ng-repeat="friend in friends.list">
        <td><strong>Name:</strong> {{ friend.first_name }} {{ friend.last_name }}</td>
        <td><strong>Email:</strong>{{ friend.email }}</td>
        <td><strong>Profile:</strong> 
        <a href="{{ friend.profile_path }}" class="btn btn-xs btn-success">View Profile</a>
        <button class="btn btn-xs btn-success ng-hide" ng-show="!friend.friends_already" ng-click="add(friend.id)">Add as my friend</button>
        <span class="label label-primary ng-hide" ng-show="friend.friends_already">
          Friend 
        </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>